<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appName" value="LogstoreTargetTest" />
  <variable name="token" value="abcdefgh" />
  <variable name="appId" value="LogstoreTargetTest" />
  
  <targets>
    <target type="Logstore"
            name="${appName}"
            accesstoken="${token}"
            appid="${appId}"
						layout="Level=${level:uppercase=true}${newline}${callsite:className=true:includeSourcePath=false:methodName=true} - ${stacktrace}${newline}${message}${newline}${exception:format=ToString:maxInnerExceptionLevel=20:innerFormat=ToString}${newline}" />
  </targets>
  <extensions>
    <add assembly="Logstore.Adapters.NLog"/>
  </extensions>
</nlog>